<div class="container-md">
    <div class="row">
        <div class="col-md border">
            <h2>{{request.user}}</h2>
        </div>
        <div class="col-md">
            <div class="nav justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_homepage' %}">Home</a>
                </li>
                {% if is_supervisor %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'supervisor:panel' %}">Supervisor Panel</a>
                </li>
                {% endif %}
                {% if has_supervisee %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'supervisor:logout' %}">Remove Supervisee</a>
                </li>
                {% endif %}
            </div>
        </div>
        <div class="col-md-5">
            <div class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notifications' %}">Activity
                        {% if requests > 0 %}
                        <span class="badge bg-secondary">{{requests}}</span></a>
                        {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_id' %}">Get User ID</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </div>
        </div>
    </div>
</div>