<!DOCTYPE html>
<html>
<head>
    <title>MyWalletAccount Menu</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>

<body>
    <div class="container-md border">
        <div class="row">
            {% include 'base.html' %}
        </div>
        <div class="row">
            <div class="col-md-4 border">
                {% if total_expenditure_of_day > 0 %}
                    <h1 class="text-danger">You have spent {{ total_expenditure_of_day }} Today</h1>
                {% else %}
                    <h1 class="text-success">You have earned ${% widthratio total_expenditure_of_day 1 -1 %} Today</h1>
                {% endif %}
            </div>
            <div class="col-md-4 border">
                {% if total_expenditure_of_month > 0 %}
                    <h1 class="text-danger">You have spent ${{ total_expenditure_of_month }} this month</h1>
                {% else %}
                    <h1 class="text-success">You have earned ${% widthratio total_expenditure_of_month 1 -1 %} this month</h1>
                {% endif %}
            </div>
            <div class="col-md-4 border">
                {% if total_expenditure_of_year > 0 %}
                    <h1 class="text-danger">You have spent ${{ total_expenditure_of_year }} this year</h1>
                {% else %}
                    <h1 class="text-success">You have earned ${% widthratio total_expenditure_of_year 1 -1 %} this month</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-md border">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="." method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Next" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    <div class="container-md border">
        <h1>Transactions</h1>
        {% for record in object_list %}
        <div class="row border">
            <h1>{{record}}</h1>
            <h2>{{record.date}}</h2>
            <h1 class="text">{{record.currency}} {{record.amount}}</h1>
        </div>
        {% endfor %}
    </div>
</body>
</html>